/*--------------------------------------------------------------
3. General Style
----------------------------------------------------------------*/
img{
  height: 100%;
  width: 100%;
  
}

.st_mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.st_both_100{
  height: 100%;
  width: 100%;
}
.st_h100{
  height: 100%;
}
.st_radius_5 {
  border-radius: 5px;
}
.st_flex{
  display: flex;
}
.st_flex_v_center {
  display: flex;
  align-items: center;
}
.st_flex_h_center {
  display: flex;
  justify-content: center;
}
.st_flex_s_between {
  display: flex;
  justify-content: space-between;
}
.st_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.st_zoom {
  position: relative;
  overflow: hidden;

  .st_zoom_in {
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    .st_zoom_in {
      transform: scale(1.07);
    }
  }
}
.st_bg{
  background-repeat: no-repeat;
  background-size: initial;
}
