.st_features{
  .st_single_feature{
    display: block;
    position: relative;
    border: 1px solid rgba($accent, 0.3);
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    .st_feature_text{
      position: absolute;
      top: 70%;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      text-align: center;
    }
  }
}