.st_site_version{
  .st_single_item{
    display: block;
    text-align: center;
    text-decoration: none;
    img{
      border-radius: 13px;
      margin-bottom: 20px;
    }
    p{
      font-size: 18px;
    }
  }
}